# dependencies
/node_modules

# testing
/coverage

# production
/ui/dist

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local

vendor

*.bolt
maildebug.yml
.air.toml

rice-box.go
maildebug

.vscode
/tmp
.github
biome.json
editorconfig
build-and-push
