MAILDEBUG_ENV=development

MAILDEBUG_SMTP_PORT=1025
MAILDEBUG_USERNAME=username
MAILDEBUG_PASSWORD=password

MAILDEBUG_API_PORT=8100
MAILDEBUG_DB_NAME=mail.bolt

MAILDEBUG_DOMAIN=localhost
MAILDEBUG_READ_TIMEOUT=10
MAILDEBUG_WRITE_TIMEOUT=10
MAILDEBUG_MAX_MESSAGE_BYTES=1048576
MAILDEBUG_MAX_RECIPIENTS=50
MAILDEBUG_ALLOW_INSECURE_AUTH=true
